:root {
  --main-color: #4f0804;
  --secondary-color: #ecedda;
  --additional-color: #4f0804c8;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

h1 {
  color: var(--main-color);
  font-size: 75px;
  font-family: var(--heading-font-family);
  font-weight: 500;
}

.bg-light {
  background-color: #d4d5c3 !important;
}

.navbar-brand {
  color: var(--main-color) !important;
  font-family: var(--heading-font-family);
  font-size: 22px;
  font-weight: 500;
}

.navbar-toggler {
  color: var(--additional-color) !important;
}

.nav-link {
  color: var(--additional-color) !important;
  font-family: var(--default-font-family);
  font-weight: 600;
}

.nav-link.active {
  color: var(--main-color) !important;
}

.nav-style {
  background-color: var(--additional-color);
  color: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 220px 20px 120px;
}

.hero h2 {
  color: var(--additional-color);
  font-size: 30px;
  font-family: var(--default-font-family);
  font-weight: 700;
}

.hero p {
  color: var(--additional-color);
  font-size: 30px;
  font-family: var(--default-font-family);
  font-weight: 700;
}

.btn-branding {
  margin-top: 35px;
  padding: 15px 30px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 18px;
  box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.4);
}

.btn-branding:hover {
  background-color: #4f0804eb;
  color: #fff;
}

.scroll-icon {
  margin-top: 120px;
}

.scroll-icon i {
  color: var(--main-color);
}

.subheading {
  font-size: 35px;
  font-family: var(--default-font-family);
  font-weight: 700;
  color: var(--main-color);
}

.container-home {
  margin-top: 90px;
}

.img-wrapper {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #d4d5c3;
  border-radius: 5px;
}

.project-description {
  padding: 100px 10px 50px 50px;
}

.project-name {
  color: var(--main-color);
  font-size: 50px;
  font-family: var(--heading-font-family);
  font-weight: 500;
}

.project-link {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: var(--additional-color);
}

.project-link:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.active {
  font-weight: 700;
}

.container-about {
  padding: 170px 80px;
}

.about-content p {
  color: var(--main-color);
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 25px;
}

.my-picture {
  border-radius: 50%;
  max-width: 400px;
}

.contact-header {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 500;
  font-family: var(--heading-font-family);
  color: var(--main-color);
}

.contact-links {
  text-align: center;
}

.contact-links i {
  color: var(--main-color);
}

.contact-links a {
  text-decoration: none;
}

.contact-links a:hover {
  color: var(--main-color);
}

.contact-links p,
a {
  font-size: 22px;
  color: var(--additional-color);
  font-weight: 600;
}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

  .hero {
    padding: 180px 20px 70px;
  }

  .hero h2 {
    font-size: 25px;
  }

  .scroll-icon i {
    display: none;
  }

  .subheading {
    font-size: 25px;
  }

  .container-home {
    margin-top: 50px;
  }

  .project-description {
    padding: 10px;
  }

  .project-name {
    font-size: 40px;
  }

  .project-link:hover {
    text-decoration: none;
  }
}

@media (min-width: 620px) and (max-width: 992px) {
  .container-home {
    margin: 50px 10px;
  }
}

@media (max-width: 1200px) {
  .container-about {
    max-width: 600px;
  }

  .container-about {
    padding: 170px 30px;
  }

  .about-content {
    text-align: center;
    margin-bottom: 70px;
  }
}

@media (max-width: 500px) {
  .container-about {
    padding: 130px 30px;
  }
  .about-content p {
    font-size: 22px;
  }

  .project-link {
    font-size: 20px;
  }

  .my-picture {
    max-width: 300px;
  }

  .contact-header {
    margin-top: 130px;
    font-size: 40px;
  }
}
